@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h3>MonaLisa Beauty Spa - Products and Services</h3>
        <p class="lead"></p>
            <img src="@Url.Content("~/Content/themes/images/vichy2.jpg")" width="1000" height="200" style="column-fill:balance" alt="Vichy" />
        <p><a href="https://www.vichy.ie/face-care" class="btn btn-primary btn-lg">Products &raquo;</a></p>
    </div>
    <div class="row" style="margin-left:60px">
        <p><a href="https://localhost:44385/ServicesApi/Index" class="btn btn-primary btn-lg">Services &raquo;</a></p>
        <div class="col-md-4">
            <h4><b>Dermapen</b></h4>
            <h4>
                Dermapen treatment is done using an automated microneedling pen and delivers an unparalleled healing response via micro-injuries into the skin. These micro-injuries to the skin encourage and harness the power of the body’s natural innate ability to repair the skin. The Dermapen before and after pictures are typical of a series of sessions where patients experienced 4 to 6 sessions over the space of three to six months. Each Dermapen treatment is performed four to five weeks apart per practitioner recommendation. Dermapen micro needling pen offers a solution for all skin types
            </h4>
            <img src="@Url.Content("~/Content/themes/images/dermapen.jpg")" width="200" height="200" style="margin-top:50px" alt="Derma" />
            <p><a class="btn btn-default" href="https://localhost:44385/ServicesApi/Details/2">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h4><b>HIFU</b></h4>
            <h4>
                High intensity focused ultrasound (HIFU) is an early stage medical technology that is in various stages of development worldwide to treat a range of disorders.
                The mechanism is similar to using a magnifying glass to focus sunlight. Focused ultrasound uses an acoustic lens to concentrate multiple intersecting beams of ultrasound on a target. Each individual beam passes through tissue with little effect but at the focal point where the beams converge, the energy can have useful thermal or mechanical effects. HIFU is typically performed with real-time imaging via ultrasound or MRI to enable treatment targeting and monitoring (including thermal tracking with MRI).
            </h4>
            <img src="@Url.Content("~/Content/themes/images/hifu1.jpg")" width="200" height="200" style="margin-top:30px" alt="HIFU" />
            <p><a class="btn btn-default" href="https://localhost:44385/ServicesApi/Details/1">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h4><b>Microdermabrasion</b></h4>
            <h4>
                Do you ever look in the mirror and wish that your face had a more even skin tone? If you answered yes, you may want to consider microdermabrasion. This non-invasive treatment gently exfoliates your skin. After a series of treatments, your complexion can appear smoother, brighter, and more even in color.
                The microdermabrasion that a dermatologist performs differs from the one that you can do at home with a kit. A dermatologist treatment goes a bit deeper into the skin. Still, the procedure is safe for all skin colors.
            </h4>
            <img src="@Url.Content("~/Content/themes/images/micro.jpg")" width="200" height="200" style="margin-top:90px" alt="Derma" />
            <p><a class="btn btn-default" href="https://localhost:44385/ServicesApi/Details/3">Learn more &raquo;</a></p>
        </div>
    </div>
<div class="row" style="margin-left:60px;margin-top:40px">
    <div class="col-md-4" >

        <h4><b>Retinol & Gold Lifting</b></h4>
        <h4>
            Retinol smooths the surface of your face, leaving it softer and more evenly toned. The gold in the mask helps firm, lift and brighten, while flower extracts nourish and restore skin with hydrating emollients.
        </h4>
        <img src="@Url.Content("~/Content/themes/images/gold.jpg")" width="200" height="200" style="margin-top:90px" alt="Derma" />
        <p><a class="btn btn-default" href="https://localhost:44385/ServicesApi/Details/4">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h4><b>Balck Doll Treatment</b></h4>
        <h4>What Is The Black Doll Facial? Often referred to as “Carbon Laser Skin Rejuvenation”, this type of skin treatment is a non-invasive, and pain-free treatment that is great for minor skin problems and gives you that glow that you desire. It comes from a state of the art Q-switched Nd-Yag laser machine.</h4>
        <img src="@Url.Content("~/Content/themes/images/black.jpg")" width="200" height="200" style="margin-top:50px" alt="Derma" />
        <p><a class="btn btn-default" href="https://localhost:44385/ServicesApi/Details/5">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h4><b>Glicolic Peel</b></h4>
        <h4>Glicolic acid peels are of a lower PH than skin (they are lower in acidity than skin) this means that when we apply the product to your skin, it penetrates through the top layers quickly, It works in these layers to dissolve the fatty bonds which hold our dead skin cells together, Glycolic acid peels encourage the exfoliation of these dead skin cells. </h4>
        <img src="@Url.Content("~/Content/themes/images/peel.jpg")" width="200" height="200" style="margin-top:30px" alt="Derma" />
        <p><a class="btn btn-default" href="https://localhost:44385/ServicesApi/Details/6">Learn more &raquo;</a></p>
    </div>
</div>